@media (max-width: 991px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .product-container{
    flex-direction: column;
  }

  .product-image{
   display: none;
  }
  .product img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    top: -80px;
    border: 2px solid black;
  }

  .ordre-container{
    background-color: rgb(242, 238, 238);
    border-radius: 10px;
    margin: 0 auto;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    display: none;
    
  }

  .ordering-form input{
    padding: 10px;
    margin-bottom: 10px;
    width: 100;
  }


}

@media (max-width: 520px) {

}